
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#f00a0ae5;
    --black:rgb(29, 29, 29);
    --light-color:rgb(44, 41, 41);
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
/* color:var(--black); */
color: black;
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    /* color:var(--green); */
    color: black;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    width: 100;
    margin-left: -100px;
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
#provost{
    margin-top: 0px;
    margin-bottom: 0px;
}
/* .provost .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1rem;
} */

.provost .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.provost .box-container .box img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.provost .box-container .box h3{
    color:var(--black);
    font-size: 2rem;
}

.diprovostrector .box-container .box span{
    color:var(--green);
    font-size: 1.5rem;
}

.provost .box-container .box .share{
    padding-top: 1rem;
    
}

.provost .box-container .box .share h4{
   
    font-size: 1.2rem;


    
    
}

.provost .box-container .box .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}




.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
    
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.753);
}

.footer .credit span{
    color:var(--green);
}
/* admin start */
#admin{
  
    background-color: green;
    color: black;
    border-radius: 9px 9px;
    height: 10px;
}
#link1{
  color: black;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-left: 3px;
}
/* about section start */
#about{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1rem;
    margin-left: 5px;
    /* margin-left: 20px; */
}
#sec_cond{
  text-align: center;
  background:#fff;
  border-radius: .5rem;
  border:var(--border);
  box-shadow: var(--box-shadow);
  padding:2rem;
  width: 120px;
}
.featured {
  padding-top: 30px;
  width: 100%;
  margin-top: -230px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.featured .featured-menus {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.featured .featured-menus .text {
  width: 100%;
}

.featured .featured-menus .text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #ffffff;
}

.featured .featured-menus .text p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.781);
}

.featured .featured-menus .menu-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-wrap-about {
  background-position: bottom center !important;
}
.ftco-wrap-about .heading-section h2 {
  font-weight: 600 !important;
}

.ftco-wrap-about .img {
  width: 100%;
}

.intro {
  width: 100%;
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro_image {
  width: 100%;
}

.intro_image img {
  max-width: 100%;
}

.intro_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -165px;
  width: 679px;
  background: #ffffff;
  border: solid 2px #b49388;
  box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.24);
  z-index: 1;
  padding-top: 55px;
  padding-bottom: 59px;
  padding-left: 70px;
  padding-right: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.intro_subtitle {
  font-size: 28px;
  font-family: "Poppins";
}

.intro_title {
  margin-top: 6px;
  font-family: "Great Vibes", cursive;
  color: #9b4b15;
  font-weight: 600;
}

.intro_title h2 {
  font-size: 40px;
}

.intro_text {
  margin-top: 32px;
  font-size: 14px;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

#section-counter {
  margin-top: 50px;
  position: relative;
  z-index: -1;
}

#section-counter::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  opacity: 0;
  background: #000000;
}

.ftco-counter {
  padding-bottom: 5em;
  background-position: center center !important;
}

.ftco-counter .block-18 {
  display: block;
  width: 100%;
}

.ftco-counter .text strong.number {
  font-weight: 600;
  font-size: 44px;
  color: #c8a97e;
  display: block;
  line-height: 1;
}

.ftco-counter .text span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.ftco-counter p {
  line-height: 1.8;
  font-size: 18px;
}
/* about section end */
/* galery start */
.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
  }
  
  .portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
  }
  #sec_cond1{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    width: 1220px;
    margin-left: -439px;
  }
    /* margin-left: -439px; */
  
/* portfulio end */



/* ========================== Contact Us ========================*/

.contact {
    padding-bottom: 130px;
  }
  
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  #cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1rem;
    margin-left: 5px;
}

#sec_cond{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    width: 1220px;
    /* margin-left: 20px; */
}
  
  .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #37b3ed;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: rgb(241, 45, 45);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/* message section */
.message{
  padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}
#button_mes{
  padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

/*====================== Back to buttom ==================*/

.scroll-to-bottom {
    position: fixed;
    width: 20px;
    left: calc(50% - 10px);
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }